@import '../../../scss/mixins.scss';

.ChallengeDetails {
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 20px;
  @include container;
  @include display-grid;
  @include grid-template-columns(1fr);
  @include media(tablet) {
    gap: 20px;
    @include grid-template-columns(1fr 1fr);

    &__details,
    &__recommendations {
      padding-left: 40px;
      padding-right: 40px;
      h1 {
        margin-bottom: 28px;
        font-size: 32px;
      }
    }
    &__details p {
      line-height: 2;
    }
    &__recommendations ol {
      padding-left: 0;
      list-style-position: inside;
      li {
        margin-bottom: 18px;
      }
    }
  }
}
