.TeamItem {
  text-align: center;
  figure {
    opacity: 0.5;
    transition: 0.5s;

    &:hover {
      opacity: 1;
      transform: scale(1.5);
    }

    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  p {
    font-size: 20px;
  }
}
