$color-primary: #710162;
$color-secondary: #fbbf45;
$color-helper: #0a002f;

$color-success: #03c383;
$color-error: #b80d57;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Rum Raisin', sans-serif;
